<!-- Image and text -->
<nav class="navbar navbar-light bg-faded">
  <div class="row">
    <div class="col-4">
      <a class="navbar-brand" href="#">
        <img src="/img/logo_mapApalooza.svg" width="50px" height="60px" class="d-inline-block align-top" alt="">
        map-<strong>APALOOZA!</strong>
      </a>
    </div>
    <div class="col-6">
      <form>
        <input placeholder="Search ..." id="search_navbar" />
        <div id="search_results">
          <ul class="dropdown">
          <% for (var i = 0; i < map_db.length; i++){ %>
          <li class="result_map" data-map_id=<%= map_db[i].id%>><%= map_db[i].title%></li>
          <% } %>
          </ul>
        </div>
        <!-- <button type="submit" class="btn"><i class="fa fa-search"></i></button> -->
<!--     <button type="button">
      <span class="glyphicon glyphicon-search"></span> Go!
    </button>
 -->    </form>
  </div>
  <% if (!user_id) { %>
    <div class="col-1 login_form_button">
      <p>Login</p>
      <div id="login_form">
        <div id="login">
          <h3>Login</h3>
          <form action="/login" method="post">
            <div class="field-wrap">
              <label>
                Username<span class="req">*</span>
              </label>
              <input type="text"required autocomplete="off"/>
            </div>
            <div class="field-wrap password">
              <label>
                Password<span class="req">*</span>
              </label>
              <input type="password"required autocomplete="off"/>
            </div>
            <button class="button button-block" type= "submit"/>Log In</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-1 register_form_button">
      <p>Register</p>
      <div id="register_form">
          <h3>Register</h3>
          <form action="/register" method="post">
            <div class="field-wrap">
              <label>
                Username<span class="req">*</span>
              </label>
              <input class="username" type="text" autocomplete="off"/>
            </div>
            <div class="field-wrap email">
              <label>
                Email<span class="req">*</span>
              </label>
              <input type="email" class="email" autocomplete="off"/>
            </div>
          <div class="field-wrap password">
              <label>
                Password<span class="req">*</span>
              </label>
              <input class="pass" type="password" autocomplete="off"/>
            </div>

            <button class="button button-block"/>Log In</button>
          </form>
        </div>
    </div>
    <% } else { %>
    <div class="col-1 offset-1 logout">
    Logout
    </div>
    <% } %>
  </div>
</nav>
