<!-- Image and text -->
<nav class="navbar navbar-light bg-faded">
  <div class="row">
  <div class="col-sm-4">
      <a class="navbar-brand" href="#">
        <img src="/img/logo_mapApalooza.svg" width="50px" height="60px" class="d-inline-block align-top" alt="">
        map-<strong>APALOOZA!</strong>
      </a>
  </div>
  <div class="col-sm-6">
    <form>
    <input placeholder="Search ..." id="search_navbar" />
    <div id="search_results">
      <ul class="dropdown">
        <li>hello</li>
        <li>wow</li>
        <li>Stuff</li>
        <li>Other stuff</li>
        <li>Other weird stuff</li>
      </ul>
    </div>
    <!-- <button type="submit" class="btn"><i class="fa fa-search"></i></button> -->
<!--     <button type="button">
      <span class="glyphicon glyphicon-search"></span> Go!
    </button>
 -->    </form>
  </div>
    <div class="col-sm-1 " >
      <a href="#" class="btn dropdown-toggle" data-toggle="dropdown"><b>Login</b></a>
        <ul id="login-dp" class="dropdown-menu">
          <li>
            <div class="row">
              <div class="col-md-12">
                Login via
                <div class="social-buttons">
                  <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                  <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                </div>
                                or
                 <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                    <div class="form-group">
                       <label class="sr-only" for="exampleInputEmail2">Email address</label>
                       <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
                    </div>
                    <div class="form-group">
                       <label class="sr-only" for="exampleInputPassword2">Password</label>
                       <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                             <div class="help-block text-right"><a href="">Forget the password ?</a></div>
                    </div>
                    <div class="form-group">
                       <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                    </div>
                    <div class="checkbox">
                       <label>
                       <input type="checkbox"> keep me logged-in
                       </label>
                    </div>
                 </form>
              </div>
              <div class="bottom text-center">
                New here ? <a href="#"><b>Join Us</b></a>
              </div>
           </div>
          </li>
        </ul>
    </div>
    <div class="col-sm-1">
    Register
    </div>
  </div>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-content">
      <div>
        hello
      </div>
    </div>
  </div>

</nav>
