<!-- Image and text -->
<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">
    <img src="/public/img/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    map-<strong>APALOOZA!</strong>
  </a>
</nav>