<!-- Image and text -->
<nav class="navbar navbar-light bg-faded">
  <div class="row">
  <div class="col-sm-4">
      <a class="navbar-brand" href="#">
        <img src="/public/img/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        map-<strong>APALOOZA!</strong>
      </a>
  </div>
  <div class="col-sm-6">
    <form>
    <input placeholder="Search ..." id="search_navbar"/>
    <div id="search_results"></div>
    <!-- <button type="submit" class="btn"><i class="fa fa-search"></i></button> -->
<!--     <button type="button">
      <span class="glyphicon glyphicon-search"></span> Go!
    </button>
 -->    </form>
  </div>
    <div class="col-sm-1">
    Login
    </div>
    <div class="col-sm-1">
    Register
    </div>
  </div>

</nav>
