<!-- Image and text -->
<nav class="navbar navbar-light bg-faded">
  <div class="row">
    <div class="col-4">
      <a class="navbar-brand" href="#">
        <img src="/img/logo_mapApalooza.svg" width="50px" height="60px" class="d-inline-block align-top" alt="">
        map-<strong>APALOOZA!</strong>
      </a>
    </div>
    <div class="col-6">
      <form>
        <input placeholder="Search ..." id="search_navbar" />
        <div id="search_results">
          <ul class="dropdown">
            <li>hello</li>
            <li>wow</li>
            <li>Stuff</li>
            <li>Other stuff</li>
            <li>Other weird stuff</li>
          </ul>
        </div>
        <!-- <button type="submit" class="btn"><i class="fa fa-search"></i></button> -->
<!--     <button type="button">
      <span class="glyphicon glyphicon-search"></span> Go!
    </button>
-->   </form>
    </div>
    <div class="col-sm-1 login_form_button">
      <p>Login</p>
      <div id="login_form">
        <div id="login">
          <h3>Login</h3>
          <form action="/" method="post">
            <div class="field-wrap">
              <label>
                Email Address<span class="req">*</span>
              </label>
              <input type="email"required autocomplete="off"/>
            </div>

            <div class="field-wrap password">
              <label>
                Password<span class="req">*</span>
              </label>
              <input type="password"required autocomplete="off"/>
            </div>
            <button class="button button-block"/>Log In</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-1">
    Register
    </div>
  </div>
</nav>
