<meta charset="utf-8">
<meta name="description" content="$1">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>mapAPALOOZA </title>

<link rel="author" href="humans.txt">

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Didact+Gothic:400,700" rel="stylesheet">

<!-- external scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/scripts/bootstrap.min.js"></script>
<link rel="stylesheet" href="/styles/output.css">
<link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab|Zilla+Slab" rel="stylesheet">

<!-- App Javascript -->
<script src="/scripts/search_dropdown.js"></script>
<script src="/scripts/login_form.js"></script>
<script src="/scripts/app.js"></script>
<script src="/scripts/loadingMaps.js"></script>



