$padding: 15px;


.navbar {
  height: 70px;
  background-color: white;
  border-bottom: grey;
  padding: $padding;

  .Brand {
    height: 35px;
    margin-left: $padding;
    width: auto;
    float: left;
  }

  .signIn {
    margin: auto 0px auto auto;
  }

}


.main-jumbo {
  background-color: black;

  .Brand {
  height: 125px;
  }

  .display {
    object-fit: cover;
    width: auto;
    max-height: 400px;
    width: 100%;
    opacity: 0.7;
  }

  h1 {
    font-family:'Helvetica', sans-serif;
    opacity: 0.8;
    font-size: 400%;
    z-index: 2;
    color: white;
    position: absolute;
    top: 100px;
    margin-left: $padding;
  }
}


#boxshadow {
    position: relative;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .5);
    padding: 10px;
    background: white;
}

.container {
  padding: $padding;
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.mainContent {
  background-color: #d3d3d3;
  margin-right: $padding;
  width: 60%;
  display: inline;
}

.rightContent{
  background-color: black;
  width: 40%;
  display: inline;
}



