$padding: 15px;


.navbar {
  height: 70px;
  background-color: purple;
  padding: $padding;

  .navbar-brand {
    font-family: Quicksand, sans-serif;
    color: white;
    }

  .signIn {
    margin: auto 0px auto auto;
    background-color: purple;
  }
}

 #map {
    height: 400px;
    width: 100%;
  }

.gmaps {
  width: 50%;
  margin: 0px auto;
  background-color: purple;
  opacity: 0.7;
  padding: $padding;
  color: white;
}

.pointDescriptions {
  display: none;
}