<!doctype html>
<html>
    <head>
         <% include partials/_src %>
    </head>
  <body>
  <% include partials/_header %>
  <div class="body row">
    <div class="map_container col-9">
      <% let map_id = "map_1" %>
      <div class="gmaps">
        <div id="map" height="460px" width="100%"></div>
        <button class="addPoint"> Add point </button>
        <div class="form pointDescriptions">
          <form action="/<% map_id %> /point" method="POST" class="pointForm">
          Title of Point
          <input type="title" name="title">
          Description
          <input type="description" name="description">
          Header Image (url)
          <input type="img_url" name="img_url">
          <input type="submit" value="Submit">
        </form>
        </div>
      </div>
      <script type="text/javascript" src="/scripts/googlemap.js"></script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=<%= gMapsApi %>&callback=initMap">
      </script>
      </div>
      <div class="list_container col-3">
      <div class="row">
        <div class="col divider">Search</div>
        <div class="col divider">Fav</div>
      </div>

      <div class="row">
        <article class="list_item">
          <header>
            title
          </header>
          <main>
            <div class="item_img"><img src="#"></div>
            <div class="item_description">description description description description description description description description description </div>
          </main>
          <footer>
          <div class="numberFavs">
          <i class="fa fa-heart"></i>
          2 fav
          </div>
          <div class="numberPoints">10 points</div>
          </footer>
        </article>
      </div>

    </div>

    </div>
  </div>

  </body>

</html>


