<!doctype html>
<html>
    <head>
         <% include partials/_src %>
    </head>
    <body>
    <% include partials/_header %>

<% let map_id = "map_1" %>
    <div class="gmaps">
        <h1 class "map_title"> Map Title </h1>
        <div id="map" height="460px" width="100%"></div>

        <div class="controls">
          <i class="fa fa-heart" aria-hidden="true"></i>
          <button class="addPoint"> Add point </button>
        </div>

        <h3 class="map_description"> This map does a bunch of really neat stuff </h3>
        <h2 class="map_user_name"> Created by Nik! </h2>
   </div>

      <div class="form pointDescriptions">
          <form action="maps/map1/point/new" method="POST" class="pointForm">
            Title of Point
            <input type="title" name="title">
            Description
            <input type="description" name="description">
            Header Image (url)
            <input type="img_url" name="img_url">
            Address
            <input type="address" name="address">
            <input type="submit" value="Submit">
        </form>
      </div>
  </div>
<div class="row" id="${point_id}">
      <div class="col-6 offset-1 point_information">
        <button type="button" class="btn btn-primary btn-lg btn-block load_map" id="map1">Load Existing</button>
      </div>
  </div>

  <div class="row">
      <div class="col-7 offset-1 map_information_container">
      </div>
  </div>



 <script type="text/javascript" src="/scripts/googlemap.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= gMapsApi %>&callback=initMap">
    </script>


    <% include partials/_footer %>
    </body>
</html>