<!doctype html>
<html>
    <head>
         <% include partials/_src %>
    </head>
    <body>
    <% include partials/_header %>
     <div>

<% let map_id = "map_1" %>
    <div class="gmaps">
      <div id="map" height="460px" width="100%"></div>
      <button class="addPoint"> Add point </button>
      <div class="form pointDescriptions">
        <form action="maps/map1/point1/new" method="POST" class="pointForm">
        Title of Point
        <input type="title" name="title">
        Description
        <input type="description" name="description">
        Header Image (url)
        <input type="img_url" name="img_url">
        <input type="submit" value="Submit">
      </form>
      </div>
  </div>

 <script type="text/javascript" src="/scripts/googlemap.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= gMapsApi %>&callback=initMap">
    </script>


    </div>
    <% include partials/_footer %>
    </body>
</html>