<!doctype html>
<html>
    <head>
         <% include partials/_src %>
    </head>
    <body>
    <% include partials/_header %>
     <div>





    </div>
    <% include partials/_footer %>
    </body>
</html>