@import url(font-awesome.css);
@import url(bootstrap/bootstrap-grid.min.css);
@import url(bootstrap/bootstrap.min.css);
@import url(bootstrap/bootstrap-reboot.min.css);
a {
  color: white;
}

.purpleHover:hover {
  color: purple;
}

a:hover {
  color: white;
  text-decoration: none;
}

.map_delete {
  font-size: 30px;
  margin-right: 15px;
}

.navbar {
  height: 70px;
  width: 100%;
  background-color: black;
  padding: 15px;
  z-index: 100;
  position: relative;
}

.navbar .navbar-brand {
  font-family: Quicksand, sans-serif;
  color: white;
  text-align: left;
  font-size: 25px;
  margin-top: -3px;
}

.navbar .navbar-brand a {
  color: white;
  spacing: 15px;
}

.navbar .navbar-brand img {
  margin-top: -10px;
}

.navbar #search_navbar {
  margin-left: -50px;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  width: 300px;
  border-radius: 5px;
}

.navbar #search_navbar button {
  background: white;
}

.navbar #search_results {
  display: none;
  width: 480px;
  height: 150px;
  background: yellow;
  margin-left: -49px;
  z-index: 9999;
  opacity: 1.0;
  overflow: scroll;
}

.navbar #search_navbar:focus {
  width: 480px;
}

.navbar .signIn {
  margin: auto 0px auto auto;
  background-color: purple;
}

div.col-1 {
  height: 70px;
  margin-top: -15px;
  text-align: enter;
  line-height: 57px;
  color: white;
}

div.register {
  text-align: right;
  color: white;
}

div #login_form, div #register {
  text-align: center;
  line-height: 20px;
  display: none;
  background: white;
  width: 230px;
  height: 250px;
  margin-left: -40px;
}

div #login_form h3, div #register h3 {
  line-height: 60px;
}

div #login_form .password, div #register .password {
  margin-top: 10px;
}

div #login_form button, div #register button {
  margin-top: 10px;
}

div.col-1:hover {
  background: grey;
}

.gmaps {
  background-color: white;
  height: 100%;
  padding: 0px 15px 15px 15px;
  color: black;
  z-index: -1;
}

.gmaps #map {
  height: 400px;
  width: 95%;
  margin: 15px 20px;
}

.gmaps h1 {
  font-family: Quicksand, sans-serif;
  font-size: 50px;
}

div.map_container {
  height: 100%;
  padding-right: 0;
  width: 75%;
  background: white;
}

.map_information_container {
  background-color: white;
}

.controls {
  font-size: 15px;
  font-style: Quicksand, sans-serif;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.controls h1 {
  font-size: 40px;
  margin: 0px;
  color: black;
}

.controls p {
  margin: 0px 15px 0px 3px;
}

.addPoint {
  z-index: 1000;
  margin: 0px 15px;
  color: black;
}

.addPoint {
  margin: 0px 15px;
}

.addPoint:hover {
  color: purple;
}

.fav {
  color: black;
  display: flex;
  align-items: center;
  justify-content: left;
}

.fav:hover {
  color: purple;
}

.clicked {
  color: purple;
}

.pointDescriptions {
  display: none;
  background-color: white;
  padding: 15px;
  color: white;
  font-family: sans-serif;
}

.pointDescriptions .btn {
  margin-top: 15px;
}

div #login_form, div #register {
  line-height: 20px;
  display: none;
  background: lightblue;
  width: 230px;
  height: 250px;
  margin-left: -40px;
}

div #login_form h3, div #register h3 {
  line-height: 60px;
}

div #login_form .password, div #register .password {
  margin-top: 10px;
}

div #login_form button, div #register button {
  margin-top: 10px;
}

.map_description {
  margin: 15px;
  font-family: Quicksand, sans-serif;
  font-style: italic;
}

#new_map {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 15px;
  padding-bottom: 0px;
  margin: 0px 15px;
}

.submit_new_map {
  background-color: black;
  border-color: white;
}

.submit_new_map:hover {
  background-color: purple;
}

.pointDescriptions {
  color: black;
  font-family: Quicksand, sans-serif;
}

.favourited {
  color: purple;
}

/*::-webkit-input-placeholder { color: #f0eeee; }
::-moz-placeholder {color: #f0eeee; }
:-ms-input-placeholder { color: #f0eeee; }
:-o-input-placeholder { color: #f0eeee; }
::-webkit-textarea-placeholder { color: #f0eeee; }
::-moz-placeholder {color: #f0eeee; }
:-ms-textarea-placeholder { color: #f0eeee; }
:-o-textarea-placeholder { color: #f0eeee; }*/
div.list_container {
  background: white;
  max-width: 23.85%;
  max-height: 600px;
  overflow: auto;
  border-left: solid 5px lightgrey;
}

.divider {
  background: black;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-family: 'Quicksand', sans-serif;
  color: white;
  border-left: black solid 1px;
}

.divider:hover {
  background: purple;
}

.divider:active {
  background: black;
}

.list_item {
  font-family: Quicksand, sans-serif;
  height: 120px;
  width: 100%;
  margin: 15px 0px;
  padding: 10px;
}

.list_item header {
  border-bottom: 1px solid black;
}

.list_item main {
  padding-top: 2px;
  font-size: 12px;
  height: 60%;
  display: flex;
}

.list_item main img {
  height: 4em;
  width: 4em;
  margin-right: 5px;
}

.list_item footer .numberPoints {
  text-align: right;
  margin-top: -23px;
}

.list_item:hover {
  color: purple;
}

#point_container {
  background-color: white;
}

#point_container .point_item {
  background: white;
  height: 120px;
  padding: 15px;
  margin: 0px 20px;
  font-family: Quicksand, sans-serif;
}

#point_container .point_item header {
  font-size: 25px;
  margin-left: 0px;
  margin-right: 20px;
  border-bottom: 1px solid black;
}

#point_container .point_item header h1 {
  font-size: 30px;
}

#point_container .point_item main {
  display: flex;
  margin: 5px;
}

#point_container .point_item main img {
  height: 50px;
  width: 75px;
}

#point_container .point_item main .point_description {
  margin-left: 10px;
}

#point_container .point_item main .fa-trash-o {
  font-size: 40px;
  margin: 0px 15px 15px auto;
}
