div.list_container{
  background: white;
  max-width: 23.85%;
  max-height: 600px;
  overflow: auto;
  border-left: solid 5px lightgrey;

}

  .divider {
    background: black;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    border-left: black solid 1px;
  }

  .divider:hover{
    background: purple;
  }

  .divider:active{
    background: black;
  }

  .list_item {
    font-family: Quicksand, sans-serif;
    height: 120px;
    width: 100%;
    margin: 15px 0px ;
    padding: 10px;

    header {
      border-bottom: 1px solid black;
    }

    main {
      padding-top: 2px;
      font-size: 12px;
      height: 60%;
      display: flex;

      img {
        height: 4em;
        width: 4em;
        margin-right: 5px;
      }
    }

    footer {
      .numberPoints {
        text-align:right;
        margin-top: -23px;
      }

  }
}

.list_item:hover {
  color: purple;
}