$spacing: 15px;
$ease-in : width  0.3s ease-in-out;
$full_search_width: 480px;

.navbar {
  height: 70px;
  width: 100%;
  background-color: #a000a0;
  padding: $spacing;
  z-index: 100;

  .navbar-brand {
    font-family: Quicksand, sans-serif;
    text-align: left;
    font-size: 25px;
    margin-top: -3px;

    a {
      color: white;
      spacing: 15px;
    }

    img {
    margin-top: -10px;
    }

  }

  #search_navbar {
    margin-left: -50px;
    -webkit-transition: $ease-in;
    -moz-transition:$ease-in;
    -o-transition: $ease-in;
    width: 300px;
    border-radius: 5px;
  }

  #search_navbar button {
    background:white;
  }

  #search_results{
    display: none;
    width: $full_search_width;
    height: 150px;
    background: white;
    margin-left: -49px;
    z-index: 10;
    opacity: 1.0;
    overflow: scroll;
  }



  #search_navbar:focus {
    width: $full_search_width;
  }

  .signIn {
    margin: auto 0px auto auto;
    background-color: purple;
  }
}



  div.col-sm-1{
    height: 70px;
    margin-top: -15px;
    text-align: center;
    line-height: 57px;
    color: white;
  }

  div.col-sm-1:hover {
    background: #b000b0;
  }

.gmaps {
  background-color: purple;
  opacity: 0.7;
  padding: $spacing;
  color: white;
  z-index:-1;

  #map {
    height: 400px;
    width: 100%;
  }

  h1 {
    font-family: Quicksand, sans-serif;
    font-size: 50px;
  }
}

.pointDescriptions {
  display: none;
}

div.map_container {
  height: 100%;
  padding-right: 0;
  width: 75%;

}

.point_information {
  background-color: grey;
  margin: $spacing 0px;
  padding: $spacing;

  img {
   object-fit: cover;
    width: auto;
    max-height: 150px;
  }
}

.map_information_container {
  background-color: white;
}

.controls {
 /* position: absolute;
  bottom: 100px;
  left: 30px;*/
  font-size: 30px;
  z-index: 100;
  color: white;
  opacity: 0.9;
}


.addPoint {
  border-radius: 20%;
  z-index: 1000;
  margin: $spacing 0px;
  }
  .addPoint:hover {
  opacity: 0.8;
  }

.clicked {
    border-color: blue;
  }



