$spacing: 15px;
$ease-in : width  0.3s ease-in-out;
$full_search_width: 480px;

a {
 color: white;
}

.purpleHover:hover {
  color: purple;
}

a:hover{
  color: white;
  text-decoration: none;
}

.map_delete{
  font-size: 30px;
  margin-right: $spacing;
}

.navbar {
  height: 70px;
  width: 100%;
  background-color: black;
  padding: $spacing;
  z-index: 100;
  position: relative;

  .navbar-brand {
    font-family: Quicksand, sans-serif;
    color: white;
    text-align: left;
    font-size: 25px;
    margin-top: -3px;

    a {
      color: white;
      spacing: 15px;
    }

    img {
    margin-top: -10px;
    }

  }

  #search_navbar {
    margin-left: -50px;
    -webkit-transition: $ease-in;
    -moz-transition:$ease-in;
    -o-transition: $ease-in;
    width: 300px;
    border-radius: 5px;
  }

  #search_navbar button {
    background:white;
  }

  #search_results{
    display: none;
    width: $full_search_width;
    height: 150px;
    background: yellow;
    margin-left: -49px;
    z-index: 9999;
    opacity: 1.0;
    overflow: scroll;
  }

  #search_navbar:focus {
    width: $full_search_width;
  }

  .signIn {
    margin: auto 0px auto auto;
    background-color: purple;
  }
}

  div.col-1{
    height: 70px;
    margin-top: -15px;
    text-align: enter;
    line-height: 57px;
    color: white;
  }

  div.register {
    text-align: right;
    color: white;
  }

  div #login_form{
    text-align: center;
    line-height: 20px;
    display: none;
    background: white;
    width: 230px;
    height: 250px;
    margin-left: -40px;

    h3 {
      line-height: 60px;
    }

    .password {
      margin-top: 10px;
    }

    button {
      margin-top: 10px;
    }

  }

  div #register {
    @extend #login_form;
  }

  div.col-1:hover {
    background: grey;
  }

.gmaps {
  background-color: white;
  height:100%;
  padding: 0px 15px 15px 15px;
  color: black;
  z-index:-1;

  #map {
    height: 400px;
    width: 95%;
    margin: 15px 20px;
  }

  h1 {
    font-family: Quicksand, sans-serif;
    font-size: 50px;
  }
}


div.map_container {
  height: 100%;
  padding-right: 0;
  width: 75%;
  background: white

}


.map_information_container {
  background-color: white;
}

.controls {
  font-size: 15px;
  font-style: Quicksand, sans-serif;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing;

  h1 {
    font-size: 40px;
    margin: 0px;
    color: black;
  }
  p {
    margin: 0px $spacing 0px 3px;
  }
}


.addPoint {
  z-index: 1000;
  margin: 0px $spacing;
  color: black;
  }
  .addPoint{
    margin: 0px $spacing;
  }
  .addPoint:hover {
    color: purple;
  }
  .fav {
    color:black;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .fav:hover {
    color: purple;
  }



.clicked {
    color: purple;
  }


.pointDescriptions {
  display: none;
  background-color: white;
  padding: $spacing;
  color: white;
  font-family: sans-serif;
  .btn {
    margin-top: $spacing;
  }
}

 div #login_form{
   line-height: 20px;
    display: none;
    background: lightblue;
    width: 230px;
    height: 250px;
    margin-left: -40px;

    h3 {
      line-height: 60px;
    }

    .password {
      margin-top: 10px;
    }

    button {
      margin-top: 10px;
    }
  }

  .map_description {
    margin: $spacing;
    font-family: Quicksand, sans-serif;
    font-style: italic;

  }

 #new_map{
      display: flex;
      align-items: center;
      justify-content: left;
      padding: 15px;
      padding-bottom:  0px;
      margin: 0px $spacing;
    }

.submit_new_map {
  background-color: black;
  border-color: white;
}

.submit_new_map:hover{
  background-color: purple;
}

.pointDescriptions{
color: black;
font-family: Quicksand, sans-serif;
}

.favourited {
  color: purple;
}

/*::-webkit-input-placeholder { color: #f0eeee; }
::-moz-placeholder {color: #f0eeee; }
:-ms-input-placeholder { color: #f0eeee; }
:-o-input-placeholder { color: #f0eeee; }
::-webkit-textarea-placeholder { color: #f0eeee; }
::-moz-placeholder {color: #f0eeee; }
:-ms-textarea-placeholder { color: #f0eeee; }
:-o-textarea-placeholder { color: #f0eeee; }*/

