$spacing: 15px;
$ease-in : width  0.3s ease-in-out;
$full_search_width: 480px;

.navbar {
  height: 70px;
  background-color: #a000a0;
  padding: $spacing;
  z-index: 100;

  .navbar-brand {
    font-family: Quicksand, sans-serif;
    text-align: left;

    a {
      color: white;
      spacing: 15px;
    }
  }

  #search_navbar {
    margin-left: -50px;
    -webkit-transition: $ease-in;
    -moz-transition:$ease-in;
    -o-transition: $ease-in;
    width:130px;
    border-radius: 5px;
  }

  #search_navbar button {
    background:white;
  }

  #search_results{
    display: none;
    width: $full_search_width;
    height: 150px;
    background: white;
    margin-left: -49px;
    z-index: 10;
    opacity: 1.0;
    overflow: scroll;
  }



  #search_navbar:focus {
    width: $full_search_width;
  }

  .signIn {
    margin: auto 0px auto auto;
    background-color: purple;
  }
}

 #map {
    height: 400px;
    width: 100%;
    z-index: 1;
  }

  div.col-sm-1{
    height: 70px;
    margin-top: -15px;
    text-align: center;
    line-height: 57px;
    color: white;
  }

  div.col-sm-1:hover{
    background: #b000b0;
  }

.gmaps {
  background-color: purple;
  opacity: 0.7;
  padding: $spacing;
  color: white;
  z-index:-1;
}

.pointDescriptions {
  display: none;
}

.addPoint{
  margin: $spacing 0px;
}

.clicked {
  border-color: blue;
}
div.map_container {
  padding-right: 0;
}


div.list_container {
  background: #dbd697;
}

